---
---

@import "{{ site.theme }}";

.big-header {
	padding: 25px 25px;
	text-align: center;
}

div {
	padding-top: 25px;
	padding-bottom: 25px;
}

#sick-of-coffee {
	padding-right: 150px;
	padding-left: 25px;
	text-align: left;
}

#sick-of-wear {
	padding-right: 25px;
	padding-left: 150px;
	text-align: right;
}

#about {
 	border-width: 3px;
  	border-style: solid;
  	border-image: linear-gradient(to right, #159957, #155799);
	text-align: center;
}

