<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <h1 class="project-name">Kayleigh's Tender Love and Kare</h1>
    <h2 class="project-tagline">Furniture Restoration and Refurbishment</h2>
    <a id="contact-cta" href="#contact-me" class="btn">Contact Me</a> 
  </header>

  <main id="content" class="main-content" role="main">
    <section id="overview" class="furniture-section"> 
      <div class="module-border-wrap">
        <h1 id="hook" class="big-header">Let Me Bring Your Furniture Vision to Life!<br></h1>
      </div>
      <div id="sick-of-coffee" class="overview-div">
        <h3 id="coffee-stain" class="subsec-header">Sick of the coffee stains on your table?</h3>
        <img class="initial-pic" src="https://github.com/kayleighrheather/tenderloveandkare/blob/gh-pages/imgs/waterstains.jpeg?raw=true" height="375" width="250">
        <br>
      </div>
      <div id="sick-of-wear" class="overview-div">
        <h3 id="wear-tear" class="subsec-header">Tired of the scratches and general fading on your dresser, bedside table or desk?</h3>
        <img class="initial-pic" src="https://github.com/kayleighrheather/tenderloveandkare/blob/gh-pages/imgs/faded-desk.jpeg?raw=true" height="250" width="375">
        <br>
      </div> 
      <div class="module-border-wrap">
        <div id="about" class="module">
          <p>My name is <strong>Kayleigh Heather</strong> and I am an engineering student at Virginia Tech. In my free time I love to refurbish and refinish furniture. Anything from a small touch up to a large project, <strong>nothing is beyond my reach!</strong></p>
        </div>
      </div>
      <div id="skill-div" class="overview-div">
        <h3 id="some-skills" class="subsec-header">Some of my skills include:<br></h3>
        <ul id="skills-list" class="ul">
          <li>Restaining</li>
          <li>Repainting</li>
          <li>Sanding</li>
          <li>Distressing (Applying a distressed look)</li>
          <li>Refinishing</li>
          <li>Antiquing</li>
          <li>Accenting</li>
          <li>Leveling</li>
          <li>And more!</li>
        </ul>
        <br>
        <h3 id="some-furniture" class="subsec-header">I can and have worked on furniture pieces such as:<br></h3> 
        <ul id="furniture-list" class="ul">
          <li>Desks</li>
          <li>Dressers</li>
          <li>Tables</li>
          <li>Jewelry Boxes</li>
        </ul>
      </div>
      <div id="summary" class="overview-div">
        <p>Below you will see some of the work that I have done. If anthing catches your eye and you would like more pictures, let me know.</p>
        <br>
        <p>I even have a truck, so <strong>pick-up and drop off would be a breeze!</strong></p>
        <br>
        <p>Let me know if you are interested, I would <strong>love to make your vision come to life!</strong></p>
        <br>
      </div>
    </section><!-- end overview section -->
    <section id="past-projects" class="furniture-section">
      <div class="module-border-wrap">
        <h1 id="my-past-projects" class = "big-header">My Past Projects</h1>
      </div>
      <div id="desk-div" class="project-div">
        <h2 id="desk" class="2-header">Desk</h2>
      </div>
      <div id="bedside-table-div" class="project-div">
        <h2 id="bedside-table" class="2-header">Rustic Bedside Table</h2>
      </div>
      <div id="jewelry-box-div" class="project-div">
        <h2 id="jewelry-box" class="2-header">Antique Jewelry Box</h2>
      </div>
    </section><!-- end of past-projects section -->
    <section id="contact-me" class="furniture-section">
      <div class="module-border-wrap">
        <h1 id="contact" class="big-header">Contact Me</h1>
      </div>
      <p>Ready to move forward with getting some <strong>tender love and kare</strong> for your favorite furniture piece?</p>
      <div id="cell-phone" class="address contact">
        <h3 class="subsec-header"><strong>Cell Phone:</strong> (623) 826-0490</h3>
      </div>
      <div id="email" class="address contact">
        <h3 class="subsec-header"><strong>Email:</strong> kheather@vt.edu</h3>
      </div>
    </section><!--end contact me section -->

    <footer class="site-footer">
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="http://vincent-stevens.github.io">Vincent Stevens</a>.</span>
      <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      <!-- Insert Social Media Links Here -->
    </footer>
  </main>
</body>
</html>
